<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.station.mapper.TStationMapper">
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.database.entity.TStationBaseInfo">
        <id property="stationId" column="station_id"/>
        <result property="stationName" column="station_name"/>
        <result property="belongOperationArea" column="belong_operation_area"/>
        <result property="belongPipeline" column="belong_pipeline"/>
        <result property="belongPoint" column="belong_point"/>
        <result property="stationCode" column="station_code"/>
        <result property="stationLocation" column="station_location"/>
        <result property="remark" column="remark"/>
        <result property="createUser" column="create_user"/>
        <result property="createTime" column="create_time"/>
        <result property="updateUser" column="update_user"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="Base_Column_List">
        station_id, station_name, belong_operation_area, belong_pipeline, belong_point, 
        station_code, station_location, remark, create_user, create_time, 
        update_user, update_time
    </sql>


</mapper>
