<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.database.mapper.TAccessControlBaseInfoMapper">
    <select id="countByBelongStationId" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM t_access_control_base_info
        WHERE belong_station_id = #{belongStationId}
          AND (
                (device_code = #{deviceCode} AND #{deviceCode} IS NOT NULL)
                OR
                (ip_address = #{ipAddress} AND #{ipAddress} IS NOT NULL)
            )
    </select>
</mapper>