<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.database.mapper.TIndustrialTvRollPolingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.database.entity.TIndustrialTvRollPoling">
        <id column="roll_poling_id" property="rollPolingId" />
        <result column="roll_poling_theme" property="rollPolingTheme" />
        <result column="belong_unit" property="belongUnit" />
        <result column="stay_duration" property="stayDuration" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="related_tv" property="relatedTv" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        roll_poling_id, roll_poling_theme, belong_unit, stay_duration, 
        remark, create_time, update_time, related_tv
    </sql>

</mapper>