<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.database.mapper.TLinkageAlarmConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.database.entity.TLinkageAlarmConfig">
        <id column="linkage_alarm_id" property="linkageAlarmId" />
        <result column="linkage_alarm_name" property="linkageAlarmName" />
        <result column="belong_station_id" property="belongStationId" />
        <result column="subsystem_type" property="subsystemType" />
        <result column="alarm_type" property="alarmType" />
        <result column="status" property="status" />
        <result column="is_enable_record" property="isEnableRecord" />
        <result column="record_duration" property="recordDuration" />
        <result column="duration_unit" property="durationUnit" />
        <result column="is_enable_snapshot" property="isEnableSnapshot" />
        <result column="snapshot_count" property="snapshotCount" />
        <result column="is_open_access_control" property="isOpenAccessControl" />
        <result column="is_play_audio" property="isPlayAudio" />
        <result column="audio_file_id" property="audioFileId" />
        <result column="audio_file_name" property="audioFileName" />
        <result column="create_time" property="createTime" />
        <result column="create_user" property="createUser" />
        <result column="update_time" property="updateTime" />
        <result column="update_user" property="updateUser" />
    </resultMap>

</mapper>
